#news-section {
  .news {
    &__wrapper {
      padding-top: 150px;
      padding-bottom: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 70px;
    }
  }

  .news-block {
    width: 100%;
    padding: 0 15px;
    display: flex;
    gap: 30px;
  }

  .news-main {
    flex: 1;

    &__info {
      padding: 75px 65px 40px;
    }

    &__other-info {
      margin-bottom: 20px;
      color: $colorSubContent;
    }

    &__text {
      margin-bottom: 60px;
    }
  }

  #news-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .news-item {
    width: 370px;
    background-color: $colorContentDark;
    color: $colorContentLight;

    &__img-block {
      position: relative;
      display: flex;
    }

    &__tag {
      position: absolute;
      top: 30px;
      left: 30px;
      background-color: $colorPrimary;
      color: $colorContentLight;
      padding: 10px;
      @include fontSettings(1.5rem);
    }

    &__info {
      padding: 30px;
    }

    &__other-info {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      @include fontSettings(1.8rem, 2.4rem);
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__text {
      @include fontSettings($fLineHeight: 200%);
      color: $colorSubContent;
    }

    &__link {
      @include subTitle();
      color: $colorSubContent;
    }

    &__author,
    &__date {
      @include fontSettings(1.5rem, 200%);
    }
  }
}
