$colorPrimary: #FF6E30;
$colorSecondary: #FFA537;
$colorTertiary: #FD3B41;

$colorBackPage: #1E252B;
$colorBack: #283036;

$colorAccent: #FFFFFF;
$colorTitle: #E8E9E9;
$colorContent: #9A9D9F;
$colorSubcontent: #7A7F82;

$colorBorder: #343B40;

$colorGlow1: #FF6E30;
$colorGlow2: #FF4842;
$colorGlow3: #B345F1;
$colorGlow4: #007ACC;

$pageWidth: 1440px;
$wrapperPadding: 108px;
