.chevron-icon {
  mask-image: url("../assets/icons/Chevron-down.svg");
}

.facebook-icon {
  mask-image: url("../assets/icons/Facebook.svg");
}

.folder-icon {
  mask-image: url("../assets/icons/Folder.svg");
}

.instagram-icon {
  mask-image: url("../assets/icons/Instagram.svg");
}

.like-icon {
  mask-image: url("../assets/icons/Like.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.search-icon {
  mask-image: url("../assets/icons/Search.svg");
}

.twitter-icon {
  mask-image: url("../assets/icons/Twitter.svg");
}

.big-chevron-icon {
  mask-image: url("../assets/icons/Chevron-big.svg");
}
