#hero-section {
  background-color: lighten($colorBack, 1%);
}

.hero-section {
  &__wrapper {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
  }

  &__greetings {
    display: flex;
    flex-direction: column;
  }

  &__form {
    width: fit-content;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
}
