.mask-icon {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.dotes-icon {
  mask-image: url("../assets/icons/Dotes.svg");
}

.lines-icon {
  mask-image: url("../assets/icons/Lines.svg");
}

.chevron-icon {
  mask-image: url("../assets/icons/Chevron-left.svg");
}

.star-icon {
  mask-image: url("../assets/icons/Star.svg");
}
