$colorPrimary: #FF7C4E;
$colorSecondary: #428E5F;

$colorTitle: #0F1F1C;
$colorContent: #878F8E;
$colorContentLight: #FFFFFF;

$colorBack: #FFFFFF;
$colorBackPage: #F6F6F6;

$colorStarFilled: #FFD336;

$pageWidth: 1440px;
$wrapperPadding: 100px;
