.pages-section {
  &__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list-wrapper {
    max-height: 1012px;
    overflow-y: overlay;
    scrollbar-width: thin;
    scrollbar-color: $colorPrimary transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $colorPrimary;
      border-radius: 4px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;

    &:has(.page-card) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
  }

  &__loading {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__btn-block {
    position: relative;

    &__loader {
      display: none;
      position: absolute;
      background-color: transparentize($colorBackLight, 0.5);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      border-radius: 30px;

      &.active {
        display: flex;
      }
    }
  }
}

.page-card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid transparentize($colorBack, 0.8);
  box-shadow: 0 8px 8px 0 darken($colorBackLight, 10%);

  &__img-block {
    background-color: $colorBack;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__img {
    width: 334px;
    height: 334px;
    color: $colorContentLight;
  }

  &__content {
    padding: 24px 32px;
  }
}
