$colorPrimary1: #0600AE;
$colorPrimary2: #1F39BA;
$colorPrimary3: #3793D8;
$colorPrimary4: #7FC2D6;
$colorPrimary5: #F1FFFF;

$colorSecondary1: #DB6300;
$colorSecondary2: #EA880F;
$colorSecondary3: #EEAA2B;
$colorSecondary4: #ECC170;
$colorSecondary5: #FFFBF3;

$colorTertiary: #29DBCC;

$colorContent1: #474747;
$colorContent2: #666666;
$colorContent3: #CACACA;
$colorContent4: #E5E5E5;
$colorContent5: #FFFFFF;

$colorBack: #F7F7F8;

$colorService1: #219653;
$colorService2: #BB6BD9;

$colorReason1: #EB5757;

$pageWidth: 1440px;
$wrapperPaddingX: 135px;
$wrapperPaddingY: 60px;
