$colorPrimary: #43806C;
$colorPrimaryDark: #214E41;
$colorPrimaryLight: #E3EEED;

$colorSecondary: #F0A446;

$colorContent: #757575;
$colorContentDark: #222222;
$colorContentLight: #FFFFFF;

$pageWidth: 1440px;
$wrapperPadding: 120px;
