$colorPrimary: #2164E1;

$colorSecondary: #30B467;
$colorSecondaryLight: #12E700;

$colorTertiary: #E1AF2C;
$colorTertiaryRich: #F7B50E;

$colorQuaternary: #6A4ED9;

$colorQuinary: #F25022;

$colorContent: #202020;
$colorContentLight: #FFFFFF;

$colorBack: #F3F3F3;

$pageWidth: 1440px;
$wrapperPadding: 130px;
