$colorPrimary: #377DFF;
$colorPrimaryLight: #5e96ff;
$colorPrimaryDark: #0e63ff;

$colorContentDark: #141D28;
$colorContentLight: #FFFFFF;
$colorSubContent: #5C6F87;

$colorNavigationBack: #0C1117;
$colorCopyRightBack: #233142;

$pageWidth: 1440px;
