#services-section {
  .services-list {
    display: flex;
    gap: 30px;
  }

  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($colorBack, 1%);
    transition: box-shadow .3s ease;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }

    &__icon {
      height: 70px;
      width: 70px;

      &.service-icon-2 {
        background-color: $colorService1;
      }
      &.service-icon-3 {
        background-color: $colorSecondary3;
      }
    }

    &:hover {
      box-shadow: 0px 2px 20px 4px darken($colorBack, 10%);
    }
  }
}

.services-section {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
