.btn {
  border: none;
  border-radius: 6px;
  background-color: $colorPrimary;
  color: $colorContentLight;
  padding: 14px 28px;
  cursor: pointer;
  font-weight: 500;
  @include fontSettings();

  @include tabletMedia {
    padding: 8px 14px;
  }

  &--large-1 {
    padding: 14px 36px;

    @include tabletMedia {
      padding: 8px 18px;
    }
  }

  &--large-2 {
    padding: 20px 36px;

    @include tabletMedia {
      padding: 12px 18px;
    }
  }

  &--small {
    padding: 8px 16px;
    @include fontSettings(1.2rem, 1.6rem);
  }

  &--dark {
    background-color: $colorPrimaryDark;
  }

  &--secondary {
    background-color: $colorSecondary;
    color: $colorPrimaryDark;
  }
  
  &--transparent {
    background-color: transparentize($colorPrimary, 0.9);
    color: $colorPrimaryDark;
  }
}

.switch {
  position: relative;
  height: 60px;
  width: 270px;
  border-radius: 6px;
  overflow: clip;
  cursor: pointer;

  &__input {
    height: 0;
    width: 0;
    opacity: 0;

    &:checked ~ {
      & .switch__slider::before {
        left: $switchPadding;
        transform: translate(0, 0);
      }

      & .switch__values .switch__value-1 {
        color: $colorPrimary;
      }
    }

    &:not(:checked) ~ {
      & .switch__values .switch__value-2 {
        color: $colorPrimary;
      }
    }
  }

  &__slider,
  &__values {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $switchPadding;
  }

  &__slider {
    background-color: transparentize($colorPrimary, 0.9);

    &::before {
      content: "";
      background-color: $colorBackLight;
      position: absolute;
      display: block;
      height: calc(100% - $switchPadding * 2);
      width: calc(50% - $switchPadding);
      border-radius: 6px;
      left: calc(100% - $switchPadding);
      transform: translate(-100%, 0);
      transition: left .3s ease,
                  transform .3s ease;
    }
  }

  &__values {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__value {
    width: 50%;
    transition: color .3s ease;
  }
}

.btn-cross {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    background-color: $colorPrimaryDark;
    height: 3px;
    width: 100%;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transition: all .3s ease;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}
