.h1 {
  @include fontSettings(4.8rem, 6.4rem);

  @include desktopMedia {
    @include fontSettings(3.8rem, 4.8rem);
  }

  @include tabletMedia {
    @include fontSettings(2.8rem, 100%);
  }
}

.h2 {
  @include fontSettings(3.6rem, 4.8rem);

  @include desktopMedia {
    @include fontSettings(2.8rem, 3.6rem);
  }

  @include tabletMedia {
    @include fontSettings(2rem, 3rem);
  }
}

.p1 {
  @include fontSettings(2.4rem, 3rem);

  @include tabletMedia {
    @include fontSettings(2rem, 2.4rem);
  }
}

.p2 {
  @include fontSettings(1.8rem, 100%);
  
  @include desktopMedia {
    font-size: 1.6rem;
  }

  @include tabletMedia {
    @include fontSettings(1.4rem, 2rem);
  }
}

.p3 {
  @include fontSettings($lHeight: 2.6rem);

  @include tabletMedia {
    @include fontSettings(1.4rem, 2rem);
  }
}

.link {
  display: inline-flex;
  color: $colorPrimaryDark;
  transition: color .3s ease;

  &:hover {
    color: lighten($colorPrimaryDark, 30%);
  }
  &:active {
    color: darken($colorPrimaryDark, 10%);
  }
}
