@import "./reasons-section.scss";

#reasons-section {
  .reasons-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .reason {
    display: flex;
    align-items: center;
    gap: 30px;

    &__marker {
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      &__icon {
        height: 50px;
        width: 50px;
        background-color: $colorContent5;
      }
    }

    &__info {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &:nth-child(4n + 1) {
      .reason__marker {
        background-color: $colorSecondary1;
      }
    }
    &:nth-child(4n + 2) {
      .reason__marker {
        background-color: $colorPrimary3;
      }
    }
    &:nth-child(4n + 3) {
      .reason__marker {
        background-color: $colorReason1;
      }
    }
    &:nth-child(4n) {
      .reason__marker {
        background-color: $colorSecondary3;
      }
    }
  }
}

.reasons-section {
  &__wrapper {
    padding-top: 88px;
    padding-bottom: 120px;
    overflow-x: clip;
    position: relative;
  }

  &__image {
    background-image: url("../assets/images/reasons_2-image-1.png");
    position: absolute;
    height: 638px;
    width: 769px;
    left: -54px;
    top: 88px;
  }

  &__content-container {
    gap: 45px;
  }

  &__airplane-icon-1 {
    position: absolute;
    left: 210px;
    top: 96px;
    transform: rotate(-15deg);
  }

  &__airplane-icon-2 {
    position: absolute;
    right: 44px;
    top: 174px;
    transform: rotate(90deg);

    &::before {
      background-color: lighten($colorSecondary3, 25%);
    }
  }
}
