<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slides</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="<%= require('./assets/icons/Favicon.svg') %>" type="image/x-icon">
</head>
<body>
  <header class="header">
    <div class="wrapper header__wrapper">
      <h2 class="logo">slides</h2>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li>
            <a class="link p3" href="">Pricing</a>
          </li>
          <li>
            <a class="link p3" href="">Help</a>
          </li>
          <li>
            <a class="link p3" href="">Login</a>
          </li>
        </ul>
        <button class="btn btn--primary">Demo</button>
      </nav>
    </div>
  </header>
  <main class="main">
    <section id="hero-section">
      <div class="wrapper hero-section__wrapper">
        <div class="hero-section__content-container">
          <div class="hero-section__content">
            <h1 class="h1 hero-section__title">
              Static website generator, create websites easily.
            </h1>
            <p class="p1">
              Generate beautiful, animated, static websites with your creative direction in a matter of minutes. Yes, minutes.
            </p>
            <div class="hero-section__btns-block">
              <button class="btn btn--primary">Open the App</button>
              <button class="btn btn--secondary">Pricing</button>
            </div>
          </div>
          <div class="hero-section__img">
            <div class="hero-section__img__circle"></div>
            <div class="hero-section__img__rectangle"></div>
            <button class="btn btn--tertiary btn--ellipse hero-section__img__btn">Watch me!</button>
          </div>
        </div>
        <ul class="hero-section__list">
          <li>
            <img src="<%= require('./assets/icons/brand-icon-1.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-2.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-3.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-4.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-5.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-6.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-7.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-8.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-9.svg') %>" alt="">
          </li>
          <li>
            <img src="<%= require('./assets/icons/brand-icon-10.svg') %>" alt="">
          </li>
        </ul>
      </div>
    </section>
    <section id="benefit_1-section">
      <div class="wrapper benefits-section__wrapper">
        <div class="benefit_1-section__img-block">
          <div class="benefits-section__img benefit_1-section__img-3"></div>
          <div class="benefits-section__img benefit_1-section__img-2"></div>
          <div class="benefits-section__img benefit_1-section__img-1"></div>
        </div>
        <div class="benefits-section__content benefit_1-section__content">
          <h2 class="h2">
            Catapult <span class="accent-tertiary">your idea</span> with a sleek presentation.
          </h2>
          <p class="p1">
            Mix and match the layout from a huge collection of slides to present your idea elegantly and persuasively.
          </p>
          <ul class="benefits-section__list">
            <li class="benefits-section__card">
              <p class="h4">200</p>
              <p class="subtitle1">Slides</p>
            </li>
            <li class="benefits-section__card">
              <p class="h4">118</p>
              <p class="subtitle1">Examples</p>
            </li>
            <li class="benefits-section__card">
              <p class="h4">30</p>
              <p class="subtitle1">Panels</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="benefit_2-section">
      <div class="wrapper benefits-section__wrapper">
        <div class="benefits-section__content">
          <h2 class="h2">
            Native <span class="accent-primary">components</span> to execute any idea.
          </h2>
          <p class="p1">
            Slides website generator comes with a handful of powerful modules that are easy to setup and customize - and they’re fun to use!
          </p>
          <ul class="benefits-section__list">
            <li class="p3 benefits-section__tag">Panel</li>
            <li class="p3 benefits-section__tag">Slider</li>
            <li class="p3 benefits-section__tag">Dialog</li>
            <li class="p3 benefits-section__tag">Sidebar</li>
            <li class="p3 benefits-section__tag">Dropdown</li>
            <li class="p3 benefits-section__tag">Contact Form</li>
            <li class="p3 benefits-section__tag">Navigation</li>
            <li class="p3 benefits-section__tag">Popup</li>
            <li class="p3 benefits-section__tag">Buttons</li>
          </ul>
        </div>
        <div class="benefits-section__img benefit_2-section__img"></div>
      </div>
    </section>
    <section id="benefit_3-section">
      <div class="wrapper benefits-section__wrapper">
        <div class="benefit_3-section__img-block">
          <div class="benefits-section__img benefit_3-section__img-1"></div>
          <div class="benefits-section__img benefit_3-section__img-2"></div>
        </div>
        <div class="benefits-section__content">
          <h2 class="h2">
            Clean-looking code that works <span class="accent-secondary accent-underline">really fast!</span>
          </h2>
          <p class="p1">
            Built with HTML, CSS, and JS. Slides generates code that’s easy to understand and fast to change, with no harm to page speed.
          </p>
          <ul class="benefits-section__list">
            <li class="benefits-section__card">
              <p class="h4">98</p>
              <p class="subtitle1">Desktop</p>
            </li>
            <li class="benefits-section__card">
              <p class="h4">95</p>
              <p class="subtitle1">Mobile</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="action-section">
      <div class="wrapper action-section__wrapper">
        <div class="action-section__content">
          <p class="p1 action-section__intro-title">Projects</p>
          <h2 class="h1">
            Create and edit pages online.
            <br> Export as finished, <span class="accent-quaternary">ready-to-upload</span> project.
          </h2>
          <p class="p1">
            The Projects are here! Keep and maintain multiple pages in separate projects.
            <br> Edit the content, upload media, add meta-tags and much more...
          </p>
          <button class="btn btn--quaternary btn--large btn--bold action-section__btn">Start New Project</button>
        </div>
        <div class="action-section__img"></div>
      </div>
    </section>
    <section id="testimonials-section">
      <div class="wrapper testimonials-section__wrapper">
        <div id="testimonials-carousel" class="carousel">
          <button class="carousel__btn js-carousel-btn-left">
            <span class="carousel__btn__icon icon-left"></span>
          </button>
          <div class="carousel__wrapper">
            <ul class="carousel__list">
              <li class="testimonial">
                <p class="testimonial__text">
                  The Slides website generator made <span class="accent-marker">building our site a breeze</span>! The variety of layouts allowed us to create a stunning presentation in no time.
                </p>
                <div class="testimonial__author">
                  <img class="testimonial__author__avatar" src="<%= require('./assets/images/testimonials-user-1.png') %>" alt="Jeremy Boom" >
                  <p class="p2">Jeremy Boom</p>
                </div>
              </li>
            </ul>
          </div>
          <button class="carousel__btn js-carousel-btn-right">
            <span class="carousel__btn__icon icon-right"></span>
          </button>
        </div>
        <hr class="testimonials-section__hr">
      </div>
    </section>
    <section id="price-section">
      <div class="wrapper price-section__wrapper">
        <h2 class="h1">Pricing</h2>
        <div class="price-section__control">
          <p class="p2">Annual</p>
          <label class="switch">
            <input class="switch__input js-price-switch" type="checkbox">
            <span class="switch__slider"></span>
          </label>
          <p class="p2">Monthly</p>
        </div>
        <ul class="price-section__list">
          <li class="price-item">
            <h5 class="p2">Free</h5>
            <ul class="price-item__list">
              <li class="p3 price-item__feature">Limited Slides</li>
              <li class="p3 price-item__feature">Limited Settings</li>
              <li class="p3 price-item__feature">Limited Effects</li>
              <li class="p3 price-item__feature">No Support</li>
              <li class="p3 price-item__feature active">No Credit Card needed</li>
            </ul>
            <div class="price-item__rate-block">
              <p class="p3 price-item__rate">
                <span class="h3 price-item__rate__value">0</span>
              </p>
              <p class="p4">No credit card needed.</p>
            </div>
            <button class="btn btn--primary btn--bold">Try for Free</button>
          </li>
          <li class="price-item" data-type="business">
            <h5 class="p2">Business</h5>
            <ul class="price-item__list">
              <li class="p3 price-item__feature active">20 Exports per Month</li>
              <li class="p3 price-item__feature active">Unlimited Projects</li>
              <li class="p3 price-item__feature active">Unlimited Pages</li>
              <li class="p3 price-item__feature active">Project Management</li>
              <li class="p3 price-item__feature active">Support and Updates</li>
            </ul>
            <div class="price-item__rate-block">
              <p class="p3 price-item__rate">
                <span class="h3 price-item__rate__value">29</span>/ per month
              </p>
              <p class="p4 js-rate-desc">$249 billed annually. Save $99</p>
            </div>
            <button class="btn btn--secondary btn--bold js-buy-btn">Add to Cart</button>
          </li>
          <li class="price-item" data-type="agency">
            <h5 class="p2">Agency</h5>
            <ul class="price-item__list">
              <li class="p3 price-item__feature active">Unlimited Exports</li>
              <li class="p3 price-item__feature active">Unlimited Projects</li>
              <li class="p3 price-item__feature active">Unlimited Pages</li>
              <li class="p3 price-item__feature active">Project Management</li>
              <li class="p3 price-item__feature active">Support and Updates</li>
            </ul>
            <div class="price-item__rate-block">
              <p class="p3 price-item__rate">
                <span class="h3 price-item__rate__value">39</span>/ per month
              </p>
              <p class="p4 js-rate-desc">$349 billed annually. Save $119</p>
            </div>
            <button class="btn btn--secondary btn--bold js-buy-btn">Add to Cart</button>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="wrapper footer__wrapper">
      <div class="footer__top">
        <h2 class="logo">slides</h2>
        <nav class="footer__nav">
          <ul class="footer__nav__list">
            <li>
              <a class="link p3" href="">Changelog</a>
            </li>
            <li>
              <a class="link p3" href="">License</a>
            </li>
            <li>
              <a class="link p3" href="">Tutorials</a>
            </li>
            <li>
              <a class="link p3" href="">Help</a>
            </li>
            <li>
              <a class="link p3" href="">Login</a>
            </li>
          </ul>
        </nav>
      </div>
      <p class="footer__rights p4">&copy; 2022 slides Insurance Inc. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>