.pricing-section {
  &__wrapper {
    padding-top: 65px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    
    @include desktopMedia {
      padding-top: 44px;
      padding-bottom: 80px;
      gap: 60px;
    }
    
    @include tabletMedia {
      padding-top: 25px;
      padding-bottom: 40px;
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 540px;
    text-align: center;

    @include tabletMedia {
      gap: 16px;
    }
  }

  &__switch {
    margin-top: 20px;

    @include desktopMedia {
      margin-top: 0;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    & > * {
      margin: 0 auto;
    }
  }
}

.price-item {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $colorBack;
  border-radius: 10px;
  overflow: clip;
  border: 1px solid $colorBorder;

  @include desktopMedia {
    max-width: 300px;
  }

  @include tabletMedia {
    max-width: 260px;
  }

  &__head {
    padding: 20px 40px 40px;
    border-bottom: 1px solid $colorBorder;

    &.light {
      background-color: $colorBackLight;
      border: none
    }

    @include desktopMedia {
      padding: 20px;
    }
  }

  &__subtitle {
    @include fontSettings(2.4rem, 4.8rem);
    
    @include desktopMedia {
      @include fontSettings(1.8rem, 3.6rem);
    }

    @include tabletMedia {
      @include fontSettings(1.4rem, 2rem);
    }
  }

  &__termin {
    color: $colorContent;
  }

  &__body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    @include desktopMedia {
      padding: 20px;
      gap: 32px;
    }

    @include tabletMedia {
      gap: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include desktopMedia {
      gap: 12px;
    }

    @include tabletMedia {
      gap: 8px;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 12px;

    &__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      color: $colorPrimary;
      background-color: transparentize($colorPrimary, 0.8);
    }

    &.disable {
      opacity: 0.5;
    }
  }
}
