$colorPrimary: #005FEC;
$colorPrimaryDark: #18216D;

$colorSecondary: #00ECD0;

$colorTertiary: #FF523D;

$colorContent: #6D6D6D;
$colorContentLight: #FFFFFF;

$colorStar: #F5A623;

$colorDanger: #E22929;

$colorBorder: #B0B1B2;

$colorBack: #FAFAFA;
$colorBackLight: #FFFFFF;

$maxPageWidth: 1600px;
$minPageWidth: 475px;

$wrapperPadding1: 100px;
$wrapperPadding1Desktop: 50px;

$wrapperPadding2: 215px;
$wrapperPadding2Desktop: 100px;

$wrapperPaddingTablet: 24px;

$switchPadding: 6px;

$widthMediaDesktop: 1280px;
$widthMediaTablet: 768px;
